* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
}

.container {
    width: 1024px;
    padding: 0 12px;
    margin: auto;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    padding-top: 52px;
    background-color: #F4F4F4;
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    

}

.control__button {
    width: 79px;
    height: 29px;
    background-color: #0271C7;
    border: none;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color .2s linear;
}

.control__button:hover {
    background-color: #27A1FF;
}

.control__button.active {
    background-color: #C2E4FE;
}

.control__button:disabled {
    background-color: #CFCFCF;
    cursor: default;
}
.control__input-area {
    display: flex;
    align-items: center;
    position: relative;
}

.control__search-icon {
    width: 20px;
    height: 20px;
}
input {
    padding: 6px 12px;
    font-size: 14px;
    box-shadow: 0px 0px 1px 2px #00000040 inset;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
}
.control__search-input {
    width: 210px;
    margin-left: 20px;
}

.input-cross {
    position: absolute;
    top: 6px;
    right: 11px;
    cursor: pointer;
    display: none;
}

input::placeholder {
    font-weight: 300;
    color: #CFCFCF;
    font-size: 14px;
}

input:focus {
    border: 1px solid #27A1FF;
    border-radius: 4px;
    outline: none;
}

.control__search-input:focus + .input-cross{
    display: block;
}

/* input:invalid  {
    border-color: #E94E4E;
    
} */

input.invalid.filled {
    color: #292929;
}


.calendar__header {
    padding: 0 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 13.5px;

}



.arrow {
    width: 12px;
    height: 16px;
    fill: #6B6B6B;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    box-shadow: 0px 0px 1px 1px #00000040 inset;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.arrow-container.active, .arrow-container.active .arrow{
   background-color:#CFCFCF;
   fill: #fff;
}

.arrow-container:disabled, .arrow-container:disabled .arrow{
    background-color:#fff;
    fill: #CFCFCF;
 }

.arrow-container:hover, .arrow-container:hover .arrow{
    background-color: #6B6B6B;
    fill: #fff;
}

.title-container {
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__title {
    font-size: 18px;
    font-weight: 400;
    color: #292929;
}

.extra-btn {
    padding: 2px 6px;
    background-color: #fff;
    font-size: 12px;
    color: #292929;
    font-weight: 400;
    box-shadow: 0px 0px 1px 1px #00000040 inset;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.extra-btn:disabled {
    background-color: #FFFFFF;
    cursor: default;
}

.extra-btn:hover {
    background-color: #6B6B6B;
    color: #fff;
}

.extra-btn.active {
    background-color: #CFCFCF;
}

.today {
    margin-left: 10px;
}
.calendar__template {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 20px;
    border-top: 1px solid #292929;
	border-left: 1px solid #292929;
}

.calendar__cell {
    width: 142px;
    height: 120px;
    padding: 8px;
    border-right: 1px solid #292929;
	border-bottom: 1px solid #292929;
    cursor: pointer;
    transition: background-color .2s linear;
}

.calendar__cell:hover {
    background-color: #F4F4F4;
}
.calendar__cell.active {
    background-color: #C2E4FE;
}

.calendar__cell.true {
    box-shadow: 0px 0px 10px 2px #0271C7;

}

.calendar__cell.active:hover {
    background-color: #27A1FF;
}

.week, .day {
    font-size: 14px;
    font-weight: 400;
    color: #6B6B6B;
}

.description-title {
    font-size: 14px;
    font-weight: 400;
    color: #292929;
    margin: 8px 0;
}

.discription-persons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.persons {
    font-size: 14px;
    font-weight: 400;  
    color: #6B6B6B;
    line-height: 1.17;
}

/*POPUPS*/

.add-popup {
    width: 290px;
    height: 315px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px #00000040;
    top: 50%;
    left: 50%;
    padding: 12px;
}

.add-popup.hidden {
    display: none;
}

.event-form::before {
    content: "";
    top: -1px;
    left: -19px;
    z-index: -1;
    width: 14px;
    height: 14px;
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: -2px 2px 6px -3px #00000040;
}
.event-form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.cross {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left:auto ;
}

.event-input,
.date-input,
.persons-input {
    margin-bottom: 8px;

}

textarea {
    box-shadow: 0px 0px 1px 2px #00000040 inset;
    border: 1px solid #CFCFCF;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    resize: none;
}

textarea::placeholder {
    font-weight: 300;
    color: #CFCFCF;
    font-size: 14px;
}

textarea:focus {
    border: 1px solid #27A1FF;
    border-radius: 4px;
    outline: none;
}

.add__description {
    width: 266px;
    height: 125px;
    margin-bottom: 8px;
}

.extra-btn.submit {
    margin-right: 17px;
}

.quick-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 7px 0px #00000040;
    padding: 12px;
}

.quick-form::before {
    content: "";
    top: -7px;
    left: 27px;
    width: 14px;
    height: 14px;
    position: absolute;
    transform: rotate(135deg);
    background-color: #fff;
    box-shadow: -2px 2px 6px -3px #00000040;
}

.quick-add.hidden {
    display: none;
}

.quick-input {
    margin-bottom: 8px;
}
